
:root{
    --primary-color: #7A5C58;
    --secondary-color: #106fa3;
    --accent1-color: #c4d6b0;
    --accent2-color: #31572c;
    --heading-font: "Josefin Sans", serif;
    --text-font: "Montserrat", serif;
}
header{
    display: grid;
    grid-template-columns: 1fr 3fr;
    border-bottom: .5px solid rgba(0, 0, 0, 0.1);
    max-height: 200px;
}

header nav{
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
header nav a{
    color: var(--secondary-color);

}

header nav a:hover{
    color:#083954;
    background-color:#1070a341;
    text-decoration: underline;

}
.logo-box{
    display: flex;
    justify-content: center;
    padding: 0;
}
.logo-box img {
    width:100px;
    height: auto;

}
p{
    font-family: var(--text-font);
    font-size: 1rem;
    padding: 1rem;
}
h1,h2,h3{
    font-family: var(--heading-font);
    color:#083954;
    font-size: 2rem;
}

a{
    text-decoration: none;
    padding: 1rem;
}

body, html { 
    margin: 0; 
    padding: 0;
}
.hero {
    position: relative;
    width: 100%; 
    height: 400px; 
    margin: 0 auto; 
    overflow: hidden;
}
.hero h1{
    position: absolute;
    top: 20px; 
    left: 0; 
    right: 0; 
    margin-inline: auto; 
    width: fit-content; 
    color:rgb(250, 250, 250);
    font-size: 2.5rem;
    padding: 10px;
    text-shadow: 0px 0px 6px var(--primary-color),0px 0px 5px #1b0f05;
    text-align: center;
    
    
}
.hero img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 

}
.home button{
    position: absolute;
    z-index: 5; 
    top: 220px; 
    left: 0; 
    right: 0; 
    margin-inline: auto; 
    width: fit-content; 
    background-color:var(--secondary-color);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
}
.home h1{
    text-shadow: 0px 0px 6px #000000,0px 0px 5px #000000;
    text-align: center;
    right: 10px;
    top: 120px;
}

.banner{
    flex-wrap: wrap;
    min-height: 150px;
    max-height: 250px;
    position: absolute;
    top: 120px;  
    left: 10px; 
    right: 10px; 
    padding: 1rem;
    background-color: #7a5c58d3; /* Add background color with some transparency */
    color: #ffffff; 
    max-width:600px;
    margin: 0 auto;
}
.banner p {
    padding-right: 160px; /* Space for the image on the right */
    margin: 0;
    max-width: 650px;
    text-align: center;
    flex-wrap: wrap;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}
.banner img {
    position: absolute;
    right: 20px; 
    bottom: 20px; 
    width: 150px; 
    height: auto;
    border-radius: 15px; 

}
section{
padding: 1rem 0 1rem 0;
margin: 2rem;
background-color: #c4d6b0;
flex-wrap: wrap;
margin: 0 auto; 
overflow: hidden;
}

.section{
    display: grid;
    justify-content: space-around;
    margin: 2rem;
    
}
section h2{
    text-align: center;
}
.history{
    grid-template-columns: 2fr 1fr 2fr;
    background-color: #fff;
    margin-bottom: 3rem;
    
}
@media (max-width: 800px) {
    .history{
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 1rem;
    }
}
.section img{
    height: 200px;
    width:auto;
}
.photos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   justify-content: center;  

}
.photos img {
    width: 100%; 
    height: auto; 
    object-fit:cover;
}
figure{
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 300px;
    margin: auto;
}

figcaption {
    font-family: var(--text-font);
    font-size: smaller;
    text-align: center;
    font-style: italic;
    padding: 3px;
}

.photo-paragraph figcaption{
   font-weight: 400;
   width: 400px;
   font-style: normal;
}
.photo-paragraph img{
    width: 400px;
    height: auto;
    height: 300px;
}
.photo-paragraph { 
    margin: 0 auto;  
    padding: 5px; 
    max-width: 300px; 
    box-sizing: border-box;
    text-align: center;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.photo-paragraph h2{
    text-align: center;
    margin:1.5rem 0 .5rem 0;
    align-items: center;
    display: inline-block;

}

.full-width{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
    background-color: var(--accent1-color);
    flex-wrap: wrap;
    margin-bottom: 1px;
}
.tripsbanner img{
    grid-column: 1/3;
    width: 100%;
    height: auto;
    max-height: 400px; 
    object-fit: cover; 
    margin: 0;
    padding:0;
}
.formbanner img{
    grid-column: 2/4;
    width: 100%;
    height: auto;
    max-height: 400px; 
    object-fit: cover; 
    margin: 0;
    padding:0;
}

.paragraph{
    margin: 0 1rem 0rem 3rem;
    padding:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.paragraph p{
    margin:0;
}
.paragraph h3{
    text-align: center;
    font-size: 3rem;
    padding-bottom: 0;
    margin-top: 2rem;
    margin-bottom: 0;
}

.paragraph button{
    margin-inline: auto; 
    width: fit-content; 
    background-color:var(--secondary-color);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    margin: 0 0;
}
.formbanner form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer p{
    text-align: center;
}
.footer{
    display: grid;
    grid-template-columns: 3fr 2fr;
    border-top: .5px solid rgba(0, 0, 0, 0.1);
    margin: .5rem;
}
.sociallinks{
    display: flex;
    justify-content: flex-end;
    color: #106fa3;
}
.sociallinks a:hover{
    text-decoration: underline;
}
.sociallinks img{
    max-width: 2rem;
    height: auto;
}
footer nav a{
    color: #1070a3;
    text-align: center;
    padding: 4px;
    margin: 0.5rem;
}
.team{
    background-color: #fff;
    margin-bottom: 3rem;
}
.icon-text {
    display: flex;
    gap: 8px;
    margin: 0 auto 1rem;
}
.icon-text h2{
    margin: 0;
    text-align: center;
}

.icon-text i {
    color: #1070a3c7; 
    font-size: 18px; 
    flex-shrink: 0;
}

.icon-text span {
    font-size: 1.1rem; 
    color: #072f44;
    text-align: left;
    margin: 0 auto;
    margin-left: 0;
   
}
.information{
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: .5px solid rgba(0, 0, 0, 0.1);
    
}
.location{
    padding: 1rem;
    
}

.contact{
    text-align: left;
}

.location iframe{
    display: flex;
    padding: 1rem;    width: 500px;
    height: 500px;
    border: none;
}

.team {
    font-size: larger;
    font-weight: 600;
    padding: 1rem;
    
}

.employee{
    gap:10px;
}
.employee img {
    width: 100%;  
    height: 100%;
    object-fit: cover; 
    border-radius: 15px; 
    max-width: 250px;
    max-height: 250px;
}


form legend{
    text-align: center;

}

.form{
    font-family: Quicksand, sans-serif;
    font-size: 1em;
    background: var(--accent1-color);
    box-sizing: border-box;
}

.form header{
    margin: 0 auto;
    padding: 1rem;
    width: auto;
    max-width: 600px;
   
}
.form h1 {
    margin: 1rem;
    font-size: 1.5em;
    text-align: center;
}

form{
    width:auto;
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
    background-color:#fff;
    display: grid;
}

.form fieldset{
    display: grid;
    grid-gap: .5rem;
    margin:0;
    padding: 1rem;
    border: none;
}

legend {
    padding: .5rem;
    color: #083954;
    font-size: 1.5em;
    font-weight: 700;
    font-family: var(--heading-font);
}

label, input, button, select, textarea {
    font-family:var(--text-font);
}
label{
    text-align: left;
    padding-right: 1rem;
}
input, select, textarea{
    padding: 0.5rem;
    font-size: 1rem;
}
input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;

}

button{
    margin: 1rem;
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.6rem;
}

button:hover{
    background-color: #083954;
    text-decoration: underline;
}

.form-item{
    display: grid;
    align-items: center;
    flex-wrap: wrap;
    margin: .5rem 0;
}

.column1{
    grid-template-columns: 3fr 1fr;
    margin: .5rem 0;
    width: 100%
}

.column2{
    grid-template-columns:  1fr 1fr;
    margin: .5rem 0 0 0;
    width: 100%;
}

.email input{
    width: 90%;
}

.name input{
    width:85%
}
.wireframe{
    font-size: 1.5rem;
    text-align: center;
    color: #1070a3;
    text-decoration: underline;
    grid-column:1/5;
}

.form-item label{
    font-size: 1rem;
    text-align: left;
    padding: 0 0 .5rem 0;
    color: #000000;
}
