*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Quicksand, sans-serif;
    font-size: 1em;
    color: rgb(67, 13, 155);
    background: #c8e7ebbb;
}

header{
    margin: 0 auto;
    padding: 1rem;
    width: auto;
    max-width: 700px;
   
}
h1 {
    margin: 1rem;
    font-size: 1.5em;
    text-align: center;
}

form{
    width:auto;
    max-width: 700px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(57, 21, 115);
    background-color:#fff;
    display: grid;
}

fieldset{
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(31, 5, 72, 0.632);
    padding: 1rem;
}

legend {
    padding: .5rem;
    color: rgb(67, 13, 155);
    font-size: 1.2em;
    font-weight: 700;
}

label, input, button, select, textarea {
    font-family:'Courier New', Courier, monospace
}
label{
    text-align: right;
    padding-right: 1rem;
}
input, select, textarea{
    padding: 0.5rem;
    font-size: 1.1rem;
}
input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;

}

button{
    margin: 1rem;
    background-color:rgb(75, 6, 154);
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.6rem;
}

button:hover{
    background-color: rgb(26, 7, 61);
    text-decoration: underline;
}
footer{
    margin: 1.5rem auto 0;
    width: auto;
    max-width: 700px;
    text-align: center;
    font-size: 0.8em;
    color: rgb(67, 13, 155);
    border-top: 1px solid rgb(57, 21, 115);
}

footer p{
    padding: 1rem;
}

.form-item{
    display: grid;
    align-items: center;
}

.column1{
    grid-template-columns: 3fr 1fr;
    margin: .5rem 0;
}

.column2{
    grid-template-columns:  1fr 2fr;
    margin: .5rem 0;
}