:root {
    --navigation-background-color: darkblue;
    --nabigation-font-size: 16px;
    --heading-size: 30px;
    --heading-font: Comic Sans MS, Comic Sans, cursive;
}

nav{
    background-color: var(--navigation-background-color);
    padding: 10px;
}
nav a{
    color: white;
    display: block;
    padding: 20px;
    font-size: var(--nabigation-font-size);
}
h1{
    color: var(--navigation-background-color);
    font-size: var(--heading-size);
    font-family: var(--heading-font);
}

h2{
    font-family: var(--heading-font);
}
main img{
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p{
    padding: 0;
}
main{
    max-width: 840px;
}
aside{
    width:20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: rgb(197, 229, 248);
    color: rgb(8, 30, 65);
    text-align: center;
}
aside img{
    width: 200px;
    height: auto;
}
footer{
    margin-top: 1rem;
    border-top: 1px solid black;
    text-align: center;
}

